.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.producto-card {
  position: relative;
}

.image-container {
  overflow: hidden;
  height: 200px; /* Ajusta la altura deseada para todas las imágenes */
  background-color: white;
}

.producto-card .card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center; /* Centra la imagen dentro del contenedor */
}

.img-carrito {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  /* Establece un tamaño fijo para hacer que todas las imágenes sean cuadradas */
  max-width: 100px; /* Puedes ajustar este valor según tus necesidades */
  max-height: 100px; /* Puedes ajustar este valor según tus necesidades */
}
